
html,

body {

  height: 100%;

  width: 100%;

  min-width: 900px;

}

body {

  margin: 0;

  display: flex;

  flex-direction: column;

  flex-wrap: nowrap;

  justify-content: space-between;

}




a {

  text-decoration: none;

}




header {

  min-height: 80px;

  position: relative;

  height: 80px;

  background-color: #19172d;

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  align-items: center;

}

.logo {

  padding-left: 20px;

}

.logo > a {

  font-size: 20px;

  color: rgb(212, 171, 33) !important;
  

}

.logo > a > span {

  font-size: 30px;

  color: white !important;

}




header > nav {

  color: white !important;

}

.nav_links {

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  justify-content: space-around;

  align-items: center;

  align-content: flex-end;

  width: 200px;

  cursor: pointer;

}




.selectedLink {

  color: rgb(212, 171, 33) !important;

}




.nav_links > li > a {

  color: white;

}




.header-image {

  position: absolute;

  right: 0;

  top: 2px;

}




.header-image > img {

  height: 75px;

}




.container {

  position: relative;

  display: flex;

  flex-direction: row;

  justify-content: space-around;

  align-content: center;

  align-items: center;

  flex-wrap: wrap;

}




.old-blog {

 

  max-width: 500px;
  padding: 90px;

 background-color: whitesmoke;

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;

  flex-direction: column;

  align-items: center;

}

.old-blog > img {

  width: 400px;

  cursor: pointer;

}

.old-blog > p {

  line-height: 40px;

}




.new-blog {

  

  float: left;

  margin-left: 20px;

}




.card {

  margin-top: 20px;

  margin-bottom: 20px;

  width: 800px;

  background-color: whitesmoke;

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;

  flex-direction: column;

  align-items: center;

}




.card > img {

  width: 400px;

  cursor: pointer;

}




footer {

  width: 100%;

  background-color: #19172d;

  color: rgb(212, 171, 33);

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  justify-content: space-around;

  align-items: center;

  align-content: flex-end;

}

.social {

  margin-right: 40px;

  font-size: 25px;

}




.social-list {

  list-style-type: none;

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: flex-start;

  flex-wrap: wrap;

}

.social-list > li {

  margin-left: 20px;

}

.social-list > li > i {

  margin-right: 10px;

}




.social-list > li > a {

  color: rgb(212, 171, 33);

}


